body {
    background-color: aquamarine;
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    max-width: fit-content;
}

.current-weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    max-width: 100%;
}

.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
}

.card {
    height: 240px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    justify-content: center;
    align-items: center;
}