body {
    background-color: aquamarine;
}

.search-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: fit-content;
}

.current-weather {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 75%;
}

.forecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: fit-content;
}